[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "*"
pytest-spec = "*"
pytest-cov = "*"
"flake8" = "*"
isort = "*"
ipython = "*"
codecov = "*"
pluggy = "*"
mypy = "*"
types-requests = "*"
black = "*"
